In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('datasets/antropometria-dataset.csv')
df.head(1)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.7,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215

# Genera una tabla dinámica que muestre el peso promedio de las personas por estado.

In [3]:
pd.pivot_table(df,
               index = 'desc_ent',
               values = 'peso',
              aggfunc = 'mean')

                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524

# Agrega columnas que muestran el peso promedio por sexo por estado.

In [22]:
df.rename(columns={'desc_ent':'Estado',
                  },
         inplace = True)

pd.pivot_table(df,
               index = ['Estado','sexo'],
               values = 'peso',
              aggfunc = 'mean')

                                           peso
Estado                          sexo
AGUASCALIENTES                  1     69.985381
                                2     63.254292
BAJA CALIFORNIA                 1     71.391818
                                2     65.893667
BAJA CALIFORNIA SUR             1     75.561015
...                                         ...
VERACRUZ DE IGNACIO DE LA LLAVE 2     60.565646
YUCATAN                         1     65.717541
                                2     60.537515
ZACATECAS                       1     66.096483
                                2     62.757788

[64 rows x 1 columns]

# La variable 'sexo' tiene valores discretos 1 y 2. Usando la información del peso promedio, sugiere qué número corresponde a hombre y cuál a mujer.

Viendo los resultados de la tabla anterior podemos suponer que en la variable 'sexo' el numero 1 representa al hombre y el 2 a la mujer, ya que se puede suponer que el peso menor es el de la mujer.

# Redacta un par de párrafos explicando tus resultados.

En la primer tabla creada se puede ver el peso promedio de ambos generos desplegados por estados, mediante la tabla dinamica y cambiando la función de suma a promedio utilizando aggfunc. Para la segunda tabla tuve que agregar la columna de sexo a la tabla que se habia creado anteriormente, tambien decidi cambiar el nombre de la variable 'desc_ent' ya que no se entendia muy bien lo que significaba hasta que veia el tipo de valores que se encontraban dentro de ella. Decidi cambiar el nombre a 'Estado' ya que es más simple al leer la tabla. 

Finalmente deduci los valores discretos de la variable sexo usando los resultados que fueron dados por la tabla dinamica. Esta actividad me ayudo a poner en practica lo que vi en clase la semana pasada, pude ver que si etendi el tema y puedo aplicarlo a diferentes bases de datos.